@{
    ViewBag.Title = "Home Page";
}
@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>

    <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>

}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
}


<body id="home-body">
    <h1 id="home-h1">Welcome to Phyt-RX!</h1>
    <div class="row">
        <div class="col-md-6">
            <h3 class="heading1">Patient Log-In</h3>
            <div>
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "patient-home-button", @class = "btn btn-sm animated-button thar-three", data_toggle = "tooltip", data_placement = "top", title = "Patients Log In Here!" })
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="heading1">DPT Log-In</h3>

            <div>
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-sm animated-button thar-three", data_toggle = "tooltip", data_placement = "top", title = "Physicians Log In Here!" })
            </div>
        </div>
    </div>
</body>

<script>
    //Tool Tip Js
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>